# Functions

1. What is Python, and why is it popular What is Python, and why is it popular?

    """ python is a programming language. which is a set of instruction you give to a computer and tell it what to do. its like you are giving instructions to humun but in their language."""

2. What is an interpreter in Python?
  
    """ Interpreter work like a translator. imagine if you want your    computer to understand your language. So for that you will right a code and interpreter will translate that particular code to give operator a desirable result."""

3. What are pre-defined keywords in Python?

    """  Pre-defined keywords are in-bult word which hold a special meaning and help to execute a code. For exampe - if , while , for, etc... """

4.  Can keywords be used as variable names?

    """ No we Cannot use keywords as variable names. To use keyword there are other specific rules. """

5.  What is mutability in Python?
   
    """ Mutability means which can be can be changed after they are created"""

6.   Why are lists mutable, but tuples are immutable?

    """ Lists are mutable because it can be changed once they are created. we can modify the data even after complition. like add or remove the item etc.

    In case of tuples they are immutable and cant be changed. if you want change it then you have to create a new tuple think it as a way of securing the data, since data cant be changed it is secured."""

7.  What is the difference between “==” and “is” operators in Python?
   
    """  the == is a equality operator. it compare weather the element is same or not. for example - x = 1 and if i write x == 2 it will be incorrect. so basically it has compare a (2 int) assign to variable x is same/equall or not.

    is operator is identify operator. for example - n Python, a is b checks if a and b refer to the exact same object in memory. It's an identity comparison."""

8.  What are logical operators in Python?

    """ Think of logical operators in Python as tools you use to combine or modify statements that can be either true or false. They help you make more complex decisions in your code. There are three main ones:

    AND
    OR
    NOT """

9.  What is type casting in Python?

    """ Type Casting or Type Conversion is the process of changing the data of a value/object."""

10. What is the difference between implicit and explicit type casting?

    """ Implicit Type Casting: python undrstand implicit type casting This is when Python automatically converts one data type to another without you explicitly telling it to.

    Explicit Type Casting (Type Conversion): This is when you convert a data type yourself."""

11. What is the purpose of conditional statements in Python?

    """ conditional statements help us to code decision on some precondition. The purpose of conditional statements in Python is to allow your program to make decisions and execute different blocks of code based on whether certain conditions are true or false."""

12. How does the elif statement work?

    """ The elif statement called as "else if". It's used with an if statement and optionally an else statement to check for multiple conditions sequentially.

    The if statement's condition is checked first. If it's True, the code block under the if is executed, and the rest of the elif and else blocks are skipped."""

13. What is the difference between for and while loops?

    """
    for loop -  iterable objects. It's typically used when you know the number of iterations beforehand or when you want to process each item in a collection.

    while loop - Used to repeatedly execute a block of code as long as a given condition is true. It's typically used when you don't know the number of iterations and the loop continues until a specific condition is met."""

14. Describe a scenario where a while loop is more suitable than a for loop.    

    """ A scenario where a while loop is more suitable than a for loop is when you need to repeat an action until a specific condition is met, and you don't know in advance how many times you'll need to repeat it.

    Imagine you are writing a program that needs to get a valid age from the user. The user should only be allowed to enter a positive number. You want to keep asking the user for their age until they provide a valid inpu,"""

  -

In [ ]:
# 1 Write a Python program to print "Hello, World!

print ("hello world")

hello world

In [ ]:
# 2.Write a Python program that displays your name and age

Name = " Mohit Dandotiya "
age  =   23

print ("my name is mohit dabdotiya")
print ("my age is 23")

my name is mohit dabdotiya
my age is 23

In [ ]:
# 3. Write code to print all the pre-defined keywords in Python using the keyword library

import keyword

print (" list of python keyword")
print (keyword.kwlist)

 list of python keyword
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# 4. Write a program that checks if a given word is a Python keyword

word_to_check = "if"
if keyword.iskeyword:
  print ("if is a python keyword")
else: ("print if is not a python keyword ")

if is a python keyword

In [ ]:
# 5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each.

my_list = [1, 5, 85, 98, 44, 54]
print (my_list)

my_list [2] = 58  # here 85 was changed to 58
print (my_list)

[1, 5, 85, 98, 44, 54]
[1, 5, 58, 98, 44, 54]

In [ ]:
tuple = (5 ,45 ,56, 85)
print (tuple)
tuple [1] = 55   # tuples cant be changed
print (tuple)

(5, 45, 56, 85)

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 6.  Write a function to demonstrate the behavior of mutable and immutable arguments

a = [5 , 54, 8, 45, "mohit", 52  ]
print (a)

a = [5 , 54, 8, 45, "mohit", 52  ] # Mutable Argument (List): When you pass a mutable object like a list to a function, the function receives a reference to the original list. Any modifications made to the list inside the function will affect the original list outside the function.Mutable Argument (List): When you pass a mutable object like a list to a function, the function receives a reference to the original list. Any modifications made to the list inside the function will affect the original list outside the function.
a [4] = 2
print (a)

[5, 54, 8, 45, 'mohit', 52]
[5, 54, 8, 45, 2, 52]

In [ ]:
a = "mohit"
print (a)

mohit

In [ ]:
a = "mohit"
a [0] ="r"   #(immutable behaviour) here i tried to change str value ( 0 = m ) to (0 = r) but it dosent changed.

TypeError: 'str' object does not support item assignment

In [ ]:
# 8. Write a program to demonstrate the use of logical operators
# here i have used and operator and it require all/both the condition must match
# in 1 both the condition is true, so he is paas
# in 2 example one condition is not true so he is fail
mohit_mark = 50
if mohit_mark > 35 and mohit_mark < 50:
  print ("he is pass")
else:
  print("he is fail")

he is pass

In [ ]:
# here i have use or operator and only one condition is true ( his marks is greater then 50).
mohit_mark = 51
if mohit_mark > 35 or mohit_mark < 50:
  print ("he is pass")
else:
  print("he is fail")

he is pass

In [ ]:
9.# Write a Python program to convert user input from string to integer, float, and boolean types.
# str to int
a = '3'
print (type(a))
print (int (a))

<class 'str'>
3

In [ ]:
# float to int

x = 2.5
print (type(x))
print (int(x))

<class 'float'>
2

In [ ]:
10.# Write code to demonstrate type casting with list elements
   # i have provided example with (str to int)

numbers = [ "5" , "45" , "23", "98", ]
# Type casting: Convert each string to an integer

int_numbers = [int(num) for num in numbers]
print("Original list (strings):", numbers)
print("Converted list (integers):", int_numbers)

Original list (strings): ['5', '45', '23', '98']
Converted list (integers): [5, 45, 23, 98]

In [ ]:
11. # Write a program that checks if a number is positive, negative, or zero
    # here we can see num is 45 and > 0 hence it is positive
    # if i have had used a num less then 0 (-1) it would be negative
    # the no is 0 itself
numbers = 45
if numbers > 0:
  print ("number is positive")
elif numbers < 0:
  print ("number is negative")
else:
  print ("number is zero")

number is positive

In [ ]:
12. #  Write a for loop to print numbers from 1 to 100


for i in range (101):
  print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
13. # Write a Python program to find the sum of all even numbers between 1 and 500

numbers = 0
for number in range (1, 501):
  if number % 2 == 0:
     numbers += number
print (" the sum of even numbers is:",numbers)

 the sum of even numbers is: 62750

In [14]:
14. # Write a program to reverse a string using a while loop

s = "mohit"
output = ''
i = len(s) - 1
while i >= 0:
    output = output + s[i]
    i = i - 1
print(output)

tihom

In [16]:
15.# Write a Python program to calculate the factorial of a number provided by the user using a while loop
num = 5

factorial = 1
i = num
while i > 0:
    factorial *= i
    i -= 1
print("Factorial of", num, "is:", factorial)

Factorial of 5 is: 120